$primary-colour: #f36e23;
$primary-gray: #e6e6e6;
$background-colour: black;
$foreground-colour: white;
$foreground-on-primary-colour: black;
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;