.cta {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.chevron {
  position: relative;
  border: solid 1px white;
  display: block;
  width: 32pt;
  height: 32pt;
  transform: rotate(225deg);
  border-bottom: none;
  border-right: none;
  animation: bob 500ms alternate infinite;
}
.chevron::after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: -1px;
  width: 32pt + 2px;
  height: 32pt + 2px;
  border: solid 1px black;
  border-bottom: none;
  border-right: none;
}

@keyframes bob {
  0% {
    transform: translateY(-10%) rotate(225deg);
  }
  100% {
    transform: translateY(10%) rotate(225deg);
  }
}

.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: -10;
  left: 0;
  @media (max-width: 1024px) {
    display: none;
  }
}

.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offset-left {
  left: -30vw;
  object-fit: cover;
  @media (max-width: 1024px) {
    left: 0;
    top: 5vh;
  }
}

.image-mobile {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}

.image-mobile img {
  object-fit: contain;
  width: 100%;
}

section#ranger > div {
  width: 20vw;
  text-align: left;
  padding-left: 65vw;
  padding-top: 10vh;
  padding-bottom: 20vh;
  table {
    font-size: 2vh;
    margin-left: 35%;
    padding-bottom: 5%;
  }
  @media (max-width: 1024px) {
    width: 80vw;
    padding-left: 0;
    padding-bottom: 0;
    table {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-bottom: 0;
    }
  }
}

section#ground > div {
  &:first-of-type {
    width: 20vw;
    text-align: left;
    padding-left: 10vw;
    padding-top: 10vh;
    padding-bottom: 20vh;
    @media (max-width: 1024px) {
      align-self: flex-start;
      padding-bottom: 0;
      padding-top: 10vh;
      width: 80vw;
    }
  }
  &:last-of-type {
    width: 25vw;
    text-align: left;
    padding-left: 35vw;
    padding-top: 15vh;
    padding-bottom: 20vh;
    table {
      font-size: 2vh;
      padding-top: 20vh;
      margin-left: 0;
      padding-bottom: 30%;
    }
    @media (max-width: 1024px) {
      padding-top: 0;
      padding-left: 5vw;
      padding-bottom: 0;
      width: 80vw;
      table {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }
}

section#connect > div {
  &:first-of-type {
    width: 100%;
    text-align: left;
    padding-left: 10vw;
    padding-top: 20vh;
    align-self: flex-start;
    @media (max-width: 1024px) {
      padding-top: 10vh;
    }
  }
  &:last-of-type {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    div {
      width: 25vw;
      text-align: left;
      padding-bottom: 0;
      margin: 25vh 5vw 20vh 55vw;
    }
    table {
      font-size: 2vh;
      margin-left: 0;
      margin-right: auto;
      padding-bottom: 10vh;
      top: 0;
      align-self: flex-start;
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      width: 100%;
      div {
        padding-top: 0;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 0;
        margin-bottom: 0;
      }
      .image-mobile {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      table {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 0;
        margin-top: 5vh;
        padding-bottom: 5vh;
      }
    }
  }
}

section#mission > div {
  width: 20vw;
  text-align: left;
  padding-left: 10vw;
  padding-bottom: 50vh;
  @media (max-width: 1024px) {
    width: 80vw;
    padding-left: 0;
    padding-bottom: 0;
  }
}


section#connect>.bg-image {
  top: 12vh;
}



td {
  padding-top: 2vh;
  padding-left: 10vw;
  @media (max-width: 1024px) {
    text-align: center;
    padding-left: 0;
    width: 20vw;
  }
}


@media screen and (max-width: 1024px) {
  .center {
    display: block;
  }
  h2 {
    padding-left: 0;
    padding-top: 30vh;
    align-self: center;
  }
}
