@use "brand";

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
    left: 0;
}

.bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offset-left {
    left: -30vw;
    object-fit: cover;
}

.subheading {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 3vh;
    padding-bottom: 25vh
}

.heading {
    color: white;
    text-align: left;
    width: 100%;
    font-size: 5vh;
    font-weight: 400;
}

.text {
    color: white;
    text-align: left;
    width: 100%;
    font-size: 2vh;
}


.t-right {
    width: 20vw;
    text-align: left;
    padding-left: 65vw;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.t-right-gs {
    width: 25vw;
    text-align: left;
    padding-left: 35vw;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.ca-content {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}

.b-right-ca {
    width: 25vw;
    text-align: left;
    padding-bottom: 0;
    margin: 25vh 5vw 20vh 55vw;
}

.t-left-ca {
    width: 100%;
    text-align: left;
    padding-left: 10vw;
    padding-top: 20vh;
    align-self: flex-start;
}

.stats-right {
    font-size: 2vh;
    margin-left: 0;
    margin-right: auto;
    padding-bottom: 10vh;
    top: 0;
    align-self: flex-start;
}

.t-left-gs {
    width: 20vw;
    text-align: left;
    padding-left: 10vw;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.t-left {
    padding-left: 5vw;
    font-size: 4vh;
    margin-bottom: auto;
    margin-top: 5vh;
}

.b-left {
    width: 40vw;
    text-align: left;
    padding-left: 10vw;
    padding-top: 40vh;
}

.b-right {
    width: 20vw;
    text-align: left;
    padding-left: 10vw;
    padding-bottom: 50vh;
}


.stats {
    font-size: 2vh;
    margin-left: 35%;
    padding-bottom: 5%;
}

.stats-left {
    font-size: 2vh;
    padding-top: 20vh;
    margin-left: 0;
    padding-bottom: 30%;
}


.title {
    width: 100%;
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: auto;
    padding-top: 30vh;
}

.subtitle {
    margin-left: 5vw;
    margin-right: auto;
    font-size: 3.5vh;
    padding-bottom: 30vh;
}

#dev {
    display: grid;
    grid-template-columns: 60vw auto;
    grid-template-rows: 30vh auto;
}

.t-middle {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.t-middle h1 {
    width: 40vw;
}

.left-img img {
    object-fit: contain;
    width: 55vw;
    padding-left: 5vw;
    top: 0;
}

.left-img {
    margin-bottom: auto;
}

.p-right {
    padding-left: 2vw;
    width: 30vw;
    margin-bottom: auto;
    font-size: 2vh;
}

#people-img {
    background-color: brand.$foreground-on-primary-colour;
    width: 40vw;
    height: 40vw;
    margin: auto;
}

#people {
    color: brand.$foreground-on-primary-colour;
    background-color: brand.$primary-colour;
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: auto;
}

.left-text h1 {
    font-size: 10vh;
    margin-bottom: 0;
}

.left-text h3 {
    font-size: 4vh;
    margin-top: 0;
}

.left-text p {
    font-size: 2vh;
}

.left-text {
    margin-left: 2vw;
    width: 30vw;
}

#contact {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: 50vh auto;
}

.orange {
    color: brand.$primary-colour;
}

.contact-text {
    font-size: 6vh;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 30vw;
    margin-left: auto;
    margin-right: 5vw;
    text-align: right;
    font-weight: 500;
}

.contact-header {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    font-size: 5vh;
    margin-left: auto;
    margin-right: 5vw;
}

.contact-form {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

.contact-form form {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    font-family: brand.$font-family-sans-serif;
    font-size: 3vh;
    border: 0;
    border-bottom: 3px solid black;
    margin-bottom: 3vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    outline: none;
}

.contact-form textarea {
    font-family: brand.$font-family-sans-serif;
    font-weight: 400;
    font-size: 3vh;
    border: 0;
    border-bottom: 3px solid black;
    margin-bottom: 3vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    outline: none;
}

td {
    padding-top: 2vh;
    padding-left: 10vw;
}

footer {
    width: 100%;
    background-color: brand.$primary-colour;
    display: flex;
    flex-direction: row;
    padding-bottom: 3vh;
}

.footer-left {
    padding-left: 5vw;
    padding-top: 5vh;
}

.footer-text {
    color: black;
    font-size: 2vh;
    font-weight: 700;
}

.footer-form {
    color: black;
    font-size: 1.2vw;
    width: 100%;
}

.footer-form input {
    width: 100%;
}

#submit {
    font-family: brand.$font-family-sans-serif;
    font-weight: 400;
    font-size: 2vh;
    background-color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    border: 0;
}

#email {
    font-family: brand.$font-family-sans-serif;
    font-weight: 400;
    font-size: 1.7vh;
    background-color: brand.$primary-colour;
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 1vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 5%;
    width: 95%;
    outline: none;
}

::placeholder {
    color: black;
    opacity: 1;
}

::-ms-input-placeholder {
    color: black;
}

.footer-img img {
    object-fit: contain;
}

.footer-right {
    margin-left: auto;
    margin-right: 5vw;
    color: black;
    font-size: 2.5vh;
    width: 40vw;
}

.footer-right hr {
    border: 1px solid black;
}

.nav {
    width: 100vw;
    position: fixed;
    background-color: black;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo-link {
    width: 10vh;
    padding-left: 5vw;
    justify-self: start;
}

.logo-link img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.navbar {
    padding-top: 2vh;
    overflow: hidden;
    display: grid;

    align-items: center;
    grid-template-columns: 7.5vw auto 7.5vw;
    justify-items: center;

    top: 0;
    background-color: black;
    z-index: 10;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.nav-links .closebtn {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 3vw;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8pt;
        width: 100%;
        height: 4pt;
        background-color: transparent;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after {
        background: brand.$primary-colour;
    }
}

.icon {
    text-decoration: none;
    color: white;
    display: none;
    padding-right: 5vw;
}

.mobile-nav {
    display: none;
}

.mobile-navlinks {
    padding-top: 5vh;
    padding-left: 5vw;
    width: 50vw;
}

.mobile-navlinks a {
    text-decoration: none;
    font-size: 2.5vh;
    color: white;
}

.mobile-navlinks li {
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.mobile-logo-link {
    width: 10vh;
    padding-top: 5vw;
    padding-left: 5vw;
    justify-self: start;
}

.mobile-logo-link img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-mobile {
    display: none;
}

.image-mobile img {
    object-fit: contain;
    width: 100%;
}

.closebtn {
    text-decoration: none;
    color: white;
    font-size: 7.5vh;
    font-weight: 200;
    margin-left: auto;
    padding-right: 4vw;
}

.cta {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chevron {
    position: relative;
    border: solid 1px white;
    display: block;
    width: 32pt;
    height: 32pt;
    transform: rotate(225deg);
    border-bottom: none;
    border-right: none;
    animation: bob 500ms alternate infinite;
}
.chevron::after {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -1px;
    width: 32pt + 2px;
    height: 32pt + 2px;
    border: solid 1px black;
    border-bottom: none;
    border-right: none;
}

@keyframes bob {
    0% {
        transform: translateY(-10%) rotate(225deg);
    }
    100% {
        transform: translateY(10%) rotate(225deg);
    }
}

@media screen and (max-width: 1024px) {
    .nav {position: fixed; width: 100vw; height: 10vh;}
    .navbar .nav-links a {display: none;}
    .navbar a.icon {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .mobile-nav.responsive {
        position: fixed;
        list-style: none;
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: black;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
    }

    .bg-image {
        display: none;
    }

    .center {
        display: block;
    }

    .image-mobile {
        display: block;
    }

    .subheading {
        padding-left: 0;
        padding-top: 30vh;
        align-self: center;
    }

    .b-left {
        width: 80vw;
        padding-left: 0;
    }

    .t-right {
        width: 80vw;
        padding-left: 0;
        padding-bottom: 0;
    }

    .offset-left {
        left: 0;
        top: 5vh;
    }

    .stats {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 0;
    }

    td {
        text-align: center;
        padding-left: 0;
        width: 20vw;
    }

    .t-left-gs {
        align-self: flex-start;
        /* width: 100vw; */
        padding-bottom: 0;
        padding-top: 10vh;
        width: 80vw;
    }

    .t-right-gs {
        padding-top: 0;
        padding-left: 5vw;
        padding-bottom: 0;
        width: 80vw;
    }

    .stats-left {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
    }

    .t-left-ca {
        padding-top: 10vh;
    }

    .ca-content {
        flex-direction: column;
        width: 100%;
    }

    .ca-content .image-mobile {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .b-right-ca {
        padding-top: 0;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    .stats-right {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 0;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }

    #connect .bg-image {
        top: 12vh;
    }

    footer {
        flex-wrap: wrap;
    }

    .footer-right {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
    }

    .footer-img {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }

    .footer-left {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .footer-text {
        font-size: 3vh;
    }

    #email {
        font-size: 3vh;
    }

    #submit {
        font-size: 3vh;
    }
}